body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #612406;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  margin: 0.6em;
}

p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: #612406;
    font-size: 16px;
}

/* responsive navbar */
@media screen {
  nav {
    width: 95%;
    margin: 10px auto;
    background-color: #fbf7e3;
    border-radius: 50px;
    display: flex;
    justify-content: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    background-color: #f3df85;
    border-radius: 50px;
  }

  li:hover {
    font-size: 25px;
    font-weight: bold;
  }

  a:visited {
    font-size: 25px;
    font-weight: bold;
    order: -2;
  }
}

@media screen and(min-width: 570) {
  nav {
    width: 95%;
    margin: 10px auto;
    background-color: #fbf7e3;
    border-radius: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    background-color: #f3df85;
    border-radius: 50px;
  }

  li:hover {
    font-size: 25px;
    font-weight: bold;
  }
  a:visited {
    font-size: 25px;
    font-weight: bold;
    order: -2;
  }
}

#logo {
  width: 20px;
}

/* responsive products section */

@media screen {
    #products{
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 570px) {
    #products{ 
    display: flex;
    flex-flow: row wrap;
    }
}

#product-card {
  width: 250px;
  border: 1px solid white;
  border-radius: 85px;
  background-color: #fbf7e3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
}

#product-card img {
  /* border-top-left-radius: 85px;
    border-top-right-radius: 85px; */
  flex-grow: 2;
}

#product-card h1 {
  margin: 0;
  margin-top: 1em;
  font-size: 20px;
}

.text-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price {
  align-self: center;
}

button {
  width: 50%;
  background-color: #f3df85;
  border-radius: 50px;
  border: 1px solid #f3df85;
  align-self: center;
  margin-bottom: 20px;
  padding: 5px;
}

/* ARTICLE MOBILE V. */
@media screen {
  article {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fbf7e3;
    border-radius: 50px;
    overflow: hidden;
  }
  article img {
    flex-shrink: 1;
  }

  article div {
    flex-grow: 1;
    margin: 1em;
    text-align: center;
  }
}

/* ARTICLE DESKTOP V. */
@media screen and (min-width: 570px) {
  article {
    display: flex;
    flex-direction: row;
    background-color: #fbf7e3;
    border-radius: 50px;
    overflow: hidden;
  }

  article img {
    flex-grow: 1;
  }

  article div {
    flex-shrink: 1;
    margin: 1em;
    text-align: left;
  }
}
