@media screen {
    body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #612406;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin: 0.6em;
}

p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: #612406;
    font-size: 1em;
}

/* responsive navbar */
 nav {
    width: 95%;
    margin: 10px auto;
    background-color: #fbf7e3;
    border-radius: 50px;
    display: flex;
    justify-content: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    background-color: #f3df85;
    border-radius: 50px;
  }

  li:hover {
    font-size: 25px;
    font-weight: bold;
  }

  #logo {
  width: 1em;
  height: auto;
}

/* products area */

#products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

#product-card {
  width: 250px;
  border: 1px solid white;
  border-radius: 85px;
  background-color: #fbf7e3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
}

#product-card img {
  flex-grow: 2;
}

.text-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  padding: 10px;
}

#product-card h1 {
  margin: 0;
  margin-top: 1em;
  font-size: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price {
  align-self: center;
}

button {
  width: 50%;
  background-color: #f3df85;
  border-radius: 50px;
  border: 1px solid #f3df85;
  align-self: center;
  margin-bottom: 20px;
  padding: 5px;
}

/* article mobile v. */
article {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fbf7e3;
    border-radius: 50px;
    overflow: hidden;
  }
  article img {
    flex-shrink: 1;
  }

  article div {
    flex-grow: 1;
    margin: 1em;
    text-align: center;
  }

}

/* MEDIUM V */
@media screen and(min-width: 480px) {
  body{
    display: grid;
    grid-template-columns: 2 1fr 3fr;
  }

   nav {
    background-color: #fbf7e3;
    display: flex;
    justify-content: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    background-color: #f3df85;
    border-radius: 50px;
  }

  li:hover {
    font-size: 25px;
    font-weight: bold;
  }
  
}


/* ARTICLE medium V. */
@media screen and (min-width: 480px) {
  body{
    display: flex
  }

  header{
    width: 20%;
    position: fixed;
  }

  nav{
    border-radius: 0;
    width: 100%;
  }
  
  main{
    width: 80%;
    overflow: hidden;
  }

  article {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    overflow: hidden;
  }

  article img {
    flex-grow: 1;
  }

  article div {
    flex-shrink: 1;
    margin: 1em;
    text-align: left;
  }
}
